/* use REM for sizing where 1rem =10px */
/* Included two fonts we can use for now via google fonts
font-family: 'Cutive Mono', monospace;
font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    
}

body {
    box-sizing: border-box;
    color: white;
   
    
}

.landing-body {
    height: 100vh;
    /* background-image: url(background-images/hikersbay.jpg); */
    background-image: url('https://source.unsplash.com/collection/2251820/1600x900/');
    background-size: cover;
    background-position: center;
    position: relative;
}

.date-time-display {
    padding: 1.5rem;
    display: inline-block;
    margin: 1.5rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.164); */
}

.date {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459);
}

.time {
    font-size: 8.3rem;
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459);
}

.feature-navigation {
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    float: right;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    backface-visibility: hidden;
    
}

.feature-list {
    list-style-type: none;
    font-size: 3rem;
}

li {
    line-height: 1;
    text-align: center;
    margin: 2rem 0rem;
    padding: .6rem .75rem;
    
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
   
}


li:hover {
    border-radius: 10%;
    /* font-size: 5rem; */
    transform: scale(1.5, 1.5);
    backface-visibility: hidden;
}
 #player{ 
    padding: 5rem 2rem 3rem 3rem;
    background-color: rgba(187, 187, 187, 0.5);
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    z-index: 999;
    width: 50rem;
    border-style: ridge;
    border-color: skyblue;
    border-width: 1rem;
}  



#buttonContainer{
    display: inline;
    padding-right: 1rem;
    text-align: center; 
    
}
#play,#next, #pre{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 5rem;
    width: 8rem;
    margin-top: 2rem;
    
}
#play:hover,#next:hover,#pre:hover{
    background-color: rgb(0, 0, 0); 
    color: white;
    border-radius: 2rem;
}


#pre{
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        
}

#play:active,#next:active,#pre:active{
    background-color: #0f0f0f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#songTitle{
    text-align: center;
    padding-bottom: .5rem;
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-right: 1rem;
    font-size: 4rem;
}

#musicButtons{
    text-align: center;
}
 
