/* use REM for sizing where 1rem =10px */
/* Included two fonts we can use for now via google fonts
font-family: 'Cutive Mono', monospace;
font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: black;
}

body {
    box-sizing: border-box;
    color: white;
}

body {
    opacity: 1; 
       transition: 3s opacity;
       transition-timing-function: cubic-bezier(.17,.67,.06,.85);
}

   
   body.fade-out {
       opacity: 0;
       transition: none;
}

.landing-body {
    height: 100vh;
    background-image: url('https://source.unsplash.com/collection/2251820/1600x900/');
    background-size: cover;
    background-position: center;
    position: relative;
}

@media only screen and (max-width: 37.5em) {
    .date {
        font-size: 1rem;
    }

    .time {
        font-size: 4rem;
    }
    
    .feature-icon {
        float: left;
        text-align: center;
    } 

    .feature-navigation {
    width: 100%;
    margin: 0 auto;
    transform: translate(0%, 0%);
    
    }

    .feature-list {
    position: absolute;
       top: 75%;
       left: 50%;
       transform: translate(-50%, 0%);
    }

    .date-time-display { 
        padding: 0;
        margin: 0;
        display: block;
        top: 25%;
        /* left: 50%; */
        width: 90%;
        margin: 0 auto;
        /* transform: translate(-25%); */
    }
}



.date-time-display {
    padding: 1.5rem;
    display: inline-block;
    margin: 1.5rem;
    position: absolute;
    bottom: 0%;
    left: 0%;
    text-align: center;

}

.date {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459);
}

.time {
    font-size: 8.3rem;
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.459);
}

.feature-navigation {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
    float: right;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    backface-visibility: hidden;
}

.feature-list {
    list-style-type: none;
    font-size: 2rem;
}

.feature-icon {
    line-height: 1;
    text-align: center;
    margin: 2rem 0rem;
    padding: .6rem .75rem;

    /* background: rgb(59, 59, 63); */
    /* border-radius: 100%; */

    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
   
}

.feature-icon:hover {

    /* font-size: 5rem; */
    transform: scale(1.5, 1.5);
    backface-visibility: hidden;
}


/* News element styling ---------------------- */

.news-results {
    list-style-type: none;
    width: 28.5rem;
    margin-top: 1.5rem; 
}

.article-info {
 /* background: rgba(69, 90, 207, 0.774); */
 background: rgba(252, 252, 253, 0.74);

 /* border: 1px solid white; */
 /* border-left: 1rem solid rgba(69, 90, 207, 0.774); */
 border-radius: .5rem;

 /* padding: .5rem; */

 margin-bottom: 1rem;
 font-family: 'Roboto', sans-serif;
 /* text-shadow: 1px 1px 5px rgb(0, 0, 0); */
 box-shadow: 1px 1px 5px rgb(0, 0, 0);
 overflow: hidden;
 
}

.news-close-btn {
    font-size: 3rem;
    position: absolute;
    position: fixed;
    top: .5rem;
    right: .5rem;
    color: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 0px 3px black;
    background-color: rgba(69, 90, 207, 0.774);
    border-radius: 100%;
    height: 2.9rem;
    width: 2.9rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.news-close-btn:hover {
background-color: rgba(255, 166, 0, 0.616);
}

.feature-news {
    position: absolute;
    right: 0;
    top: 0;


    width: 30rem;
    height: 100vh;
    overflow: auto;
    
    /* display: transparent; */
    display: none;
    /* transform: translateX(30rem); */
}

/* .feature-news-visible {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0);
    display: block;
} */

.article-info-list {
    list-style-type: none;
  
    font-size: 1.3rem;
    color: rgb(69, 90, 207);
     /* text-shadow: 1px 1px 1px black; */
     padding: .75rem; 
     /* border: 1px solid rgba(69, 90, 207, 0.774); */
     border-left: 1.2rem solid rgb(69, 90, 207);
    
   
}

a:link {
    text-decoration: none;
}

.article-info:hover {
    text-decoration: none;
    /* background-color: rgba(69, 90, 207, 0.774); */
    

    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
   
}

.article-info-list:hover {
    /* color: rgb(0, 38, 255);
    border: 1px solid rgb(0, 38, 255); */
    /* text-decoration: underline rgba(253, 186, 86); */
    border-left: 1.2rem solid rgba(253, 186, 86, 0.87);
   
}

.article-title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: .75rem;
    color: rgb(39, 59, 177);
}

a.newsAPI {
    color: rgba(255, 255, 255, 0.562);
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
    display: none;
}

/* Music player styling ---------------------- */

 #player{ 
    padding: 1rem;
    /* background-color: rgba(255, 255, 255, 0.74); */

    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: .5rem;

    position: absolute;
    bottom: 3rem;
    right: 1rem;

    z-index: 999;
    
    width: 30rem;
    height: 20rem;
    
    /* color: rgb(39, 59, 177); */
    color: white;
 
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    
    text-align: center;
}  

.title-artist {
    width: 24rem;
    margin: 2rem auto;
    /* border: 1px solid rgb(39, 59, 177); */
    border: 1px solid white;

    border-radius: .5rem;
    padding: 1.5rem;
    height: 10rem;
    position: relative;

    background-color: rgba(39, 36, 48, 0.185);
   

    /* background-color: rgba(255, 255, 255, 0.849); */
    color: white;
    /* color: rgb(39, 59, 177); */
    
}


#songTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: .5rem;
}


#artist {
    font-family: 'Cutive Mono', monospace;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
}

#buttonContainer{
    display: inline-block;
    text-align: center; 
    width: 24rem;
    margin: 0 auto;
    
}

#play,#next, #pre{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 3rem;
    
    margin: 4rem 1rem;
    color: white;
   
}

#play:hover,#next:hover,#pre:hover{
    /* background-color: rgb(0, 0, 0);  */
    color: rgb(39, 59, 177);
    /* border-radius: 2rem; */
}


#play:active,#next:active,#pre:active{
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#songTitle{
    text-align: center;
    padding-bottom: .5rem;
    
    font-size: 2rem;
    text-transform: uppercase;
    
}

#musicButtons{
    text-align: center;
}

/* Weather app styling ----------------------*/

.weather-panel {
    color: rgb(69, 90, 207);
    position: absolute;
    right: 0;
    top: 0;


    width: 30rem;
    height: 100vh;

    display: none;
}

.daily-weather {
    background-color: white;
    width: 28.5rem;
    height: 5rem;
    
}

.five-day-forecast {
    
    list-style-type: none;
}


.weather-close-btn {
    font-size: 3rem;
    position: absolute;
    position: fixed;
    top: .5rem;
    right: .5rem;
    color: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 0px 3px black;
    background-color: rgba(69, 90, 207, 0.774);
    border-radius: 100%;
    height: 2.9rem;
    width: 2.9rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    z-index: 999;
}

.weather-close-btn:hover {
background-color: rgba(255, 166, 0, 0.616);
}