@font-face {
	font-family: 'ultra-icons---line-vol-1';
	src:url('fonts/ultra-icons---line-vol-1.eot?rfl608');
	src:url('fonts/ultra-icons---line-vol-1.eot?#iefixrfl608') format('embedded-opentype'),
		url('fonts/ultra-icons---line-vol-1.woff?rfl608') format('woff'),
		url('fonts/ultra-icons---line-vol-1.ttf?rfl608') format('truetype'),
		url('fonts/ultra-icons---line-vol-1.svg?rfl608#ultra-icons---line-vol-1') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ultra-icons---line-vol-1';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-svg2:before {
	content: "\e664";
}
.icon-svg22:before {
	content: "\e665";
}
.icon-svg3:before {
	content: "\e666";
}
.icon-svg4:before {
	content: "\e667";
}
.icon-svg5:before {
	content: "\e668";
}
.icon-svg6:before {
	content: "\e669";
}
.icon-svg7:before {
	content: "\e66a";
}
.icon-svg8:before {
	content: "\e66b";
}
.icon-svg9:before {
	content: "\e66c";
}
.icon-svg10:before {
	content: "\e66d";
}
.icon-svg11:before {
	content: "\e66e";
}
.icon-svg12:before {
	content: "\e66f";
}
.icon-svg13:before {
	content: "\e670";
}
.icon-svg14:before {
	content: "\e671";
}
.icon-svg15:before {
	content: "\e672";
}
.icon-svg16:before {
	content: "\e673";
}
.icon-svg17:before {
	content: "\e674";
}
.icon-svg18:before {
	content: "\e675";
}
.icon-svg19:before {
	content: "\e676";
}
.icon-svg20:before {
	content: "\e677";
}
.icon-svg21:before {
	content: "\e678";
}
.icon-svg222:before {
	content: "\e679";
}
.icon-svg23:before {
	content: "\e67a";
}
.icon-svg24:before {
	content: "\e67b";
}
.icon-svg25:before {
	content: "\e67c";
}
.icon-svg26:before {
	content: "\e67d";
}
.icon-svg27:before {
	content: "\e67e";
}
.icon-svg28:before {
	content: "\e67f";
}
.icon-svg29:before {
	content: "\e680";
}
.icon-svg30:before {
	content: "\e681";
}
.icon-svg31:before {
	content: "\e682";
}
.icon-svg32:before {
	content: "\e683";
}
.icon-svg33:before {
	content: "\e684";
}
.icon-svg34:before {
	content: "\e685";
}
.icon-svg:before {
	content: "\e606";
}
.icon-svg36:before {
	content: "\e687";
}
.icon-svg37:before {
	content: "\e688";
}
.icon-svg38:before {
	content: "\e689";
}
.icon-svg39:before {
	content: "\e68a";
}
.icon-svg40:before {
	content: "\e68b";
}
.icon-svg41:before {
	content: "\e68c";
}
.icon-svg42:before {
	content: "\e68d";
}
.icon-svg43:before {
	content: "\e68e";
}
.icon-svg44:before {
	content: "\e68f";
}
.icon-svg45:before {
	content: "\e690";
}
.icon-svg46:before {
	content: "\e691";
}
.icon-svg47:before {
	content: "\e692";
}
.icon-svg48:before {
	content: "\e693";
}
.icon-svg49:before {
	content: "\e694";
}
.icon-svg50:before {
	content: "\e695";
}
.icon-svg51:before {
	content: "\e696";
}
.icon-svg52:before {
	content: "\e697";
}
.icon-svg53:before {
	content: "\e698";
}
.icon-svg54:before {
	content: "\e699";
}
.icon-svg55:before {
	content: "\e69a";
}
.icon-svg56:before {
	content: "\e69b";
}
.icon-svg57:before {
	content: "\e69c";
}
.icon-svg58:before {
	content: "\e69d";
}
.icon-svg59:before {
	content: "\e69e";
}
.icon-svg60:before {
	content: "\e69f";
}
.icon-svg61:before {
	content: "\e6a0";
}
.icon-svg62:before {
	content: "\e6a1";
}
.icon-svg63:before {
	content: "\e6a2";
}
.icon-svg64:before {
	content: "\e6a3";
}
.icon-svg65:before {
	content: "\e6a4";
}
.icon-svg66:before {
	content: "\e6a5";
}
.icon-svg67:before {
	content: "\e6a6";
}
.icon-svg68:before {
	content: "\e6a7";
}
.icon-svg69:before {
	content: "\e6a8";
}
.icon-svg70:before {
	content: "\e6a9";
}
.icon-svg71:before {
	content: "\e6aa";
}
.icon-svg72:before {
	content: "\e6ab";
}
.icon-svg73:before {
	content: "\e6ac";
}
.icon-svg74:before {
	content: "\e6ad";
}
.icon-svg35:before {
	content: "\e686";
}
.icon-svg76:before {
	content: "\e6af";
}
.icon-svg77:before {
	content: "\e6b0";
}
.icon-svg78:before {
	content: "\e6b1";
}
.icon-svg79:before {
	content: "\e6b2";
}
.icon-svg80:before {
	content: "\e6b3";
}
.icon-svg81:before {
	content: "\e6b4";
}
.icon-svg82:before {
	content: "\e6b5";
}
.icon-svg83:before {
	content: "\e6b6";
}
.icon-svg84:before {
	content: "\e6b7";
}
.icon-svg85:before {
	content: "\e6b8";
}
.icon-svg86:before {
	content: "\e6b9";
}
.icon-svg87:before {
	content: "\e6ba";
}
.icon-svg88:before {
	content: "\e6bb";
}
.icon-svg89:before {
	content: "\e6bc";
}
.icon-svg90:before {
	content: "\e6bd";
}
.icon-svg91:before {
	content: "\e6be";
}
.icon-svg92:before {
	content: "\e6bf";
}
.icon-svg93:before {
	content: "\e6c0";
}
.icon-svg94:before {
	content: "\e6c1";
}
.icon-svg95:before {
	content: "\e6c2";
}
.icon-svg96:before {
	content: "\e611";
}
.icon-svg210:before {
	content: "\e612";
}
.icon-svg310:before {
	content: "\e613";
}
.icon-svg410:before {
	content: "\e614";
}
.icon-svg510:before {
	content: "\e615";
}
.icon-svg610:before {
	content: "\e616";
}
.icon-svg710:before {
	content: "\e617";
}
.icon-svg810:before {
	content: "\e618";
}
.icon-svg97:before {
	content: "\e619";
}
.icon-svg102:before {
	content: "\e61a";
}
.icon-svg112:before {
	content: "\e61b";
}
.icon-svg122:before {
	content: "\e61c";
}
.icon-svg132:before {
	content: "\e61d";
}
.icon-svg142:before {
	content: "\e61e";
}
.icon-svg152:before {
	content: "\e61f";
}
.icon-svg162:before {
	content: "\e620";
}
.icon-svg172:before {
	content: "\e621";
}
.icon-line_3:before {
	content: "\e622";
}
.icon-svg192:before {
	content: "\e623";
}
.icon-svg202:before {
	content: "\e624";
}
.icon-svg212:before {
	content: "\e625";
}
.icon-svg2222:before {
	content: "\e626";
}
.icon-svg232:before {
	content: "\e627";
}
.icon-svg242:before {
	content: "\e628";
}
.icon-svg252:before {
	content: "\e629";
}
.icon-svg262:before {
	content: "\e62a";
}
.icon-svg272:before {
	content: "\e62b";
}
.icon-svg282:before {
	content: "\e62c";
}
.icon-svg292:before {
	content: "\e62d";
}
.icon-svg302:before {
	content: "\e62e";
}
.icon-svg312:before {
	content: "\e62f";
}
.icon-svg322:before {
	content: "\e630";
}
.icon-svg332:before {
	content: "\e631";
}
.icon-svg342:before {
	content: "\e632";
}
.icon-svg352:before {
	content: "\e633";
}
.icon-svg362:before {
	content: "\e634";
}
.icon-svg372:before {
	content: "\e635";
}
.icon-svg382:before {
	content: "\e636";
}
.icon-svg392:before {
	content: "\e637";
}
.icon-paint:before {
	content: "\e604";
}
.icon-svg412:before {
	content: "\e639";
}
.icon-svg422:before {
	content: "\e63a";
}
.icon-svg432:before {
	content: "\e63b";
}
.icon-svg442:before {
	content: "\e63c";
}
.icon-svg452:before {
	content: "\e63d";
}
.icon-svg462:before {
	content: "\e63e";
}
.icon-svg472:before {
	content: "\e63f";
}
.icon-svg482:before {
	content: "\e640";
}
.icon-svg492:before {
	content: "\e641";
}
.icon-svg502:before {
	content: "\e642";
}
.icon-svg512:before {
	content: "\e643";
}
.icon-svg522:before {
	content: "\e644";
}
.icon-svg532:before {
	content: "\e645";
}
.icon-svg542:before {
	content: "\e646";
}
.icon-svg552:before {
	content: "\e647";
}
.icon-svg562:before {
	content: "\e648";
}
.icon-svg572:before {
	content: "\e649";
}
.icon-svg582:before {
	content: "\e64a";
}
.icon-svg592:before {
	content: "\e64b";
}
.icon-svg602:before {
	content: "\e64c";
}
.icon-svg612:before {
	content: "\e64d";
}
.icon-svg622:before {
	content: "\e64e";
}
.icon-svg632:before {
	content: "\e64f";
}
.icon-svg642:before {
	content: "\e650";
}
.icon-svg652:before {
	content: "\e651";
}
.icon-svg662:before {
	content: "\e652";
}
.icon-svg672:before {
	content: "\e653";
}
.icon-svg682:before {
	content: "\e654";
}
.icon-svg692:before {
	content: "\e655";
}
.icon-svg702:before {
	content: "\e656";
}
.icon-svg712:before {
	content: "\e657";
}
.icon-svg722:before {
	content: "\e658";
}
.icon-svg732:before {
	content: "\e659";
}
.icon-svg742:before {
	content: "\e65a";
}
.icon-svg752:before {
	content: "\e65b";
}
.icon-svg762:before {
	content: "\e65c";
}
.icon-svg98:before {
	content: "\e65d";
}
.icon-svg99:before {
	content: "\e65e";
}
.icon-svg792:before {
	content: "\e65f";
}
.icon-svg802:before {
	content: "\e660";
}
.icon-svg812:before {
	content: "\e661";
}
.icon-svg822:before {
	content: "\e662";
}
.icon-svg832:before {
	content: "\e663";
}
.icon-svg842:before {
	content: "\e600";
}
.icon-svg2102:before {
	content: "\e601";
}
.icon-svg3102:before {
	content: "\e602";
}
.icon-svg4102:before {
	content: "\e603";
}
.icon-truck:before {
	content: "\e60b";
}
.icon-svg6102:before {
	content: "\e605";
}
.icon-svg75:before {
	content: "\e6c3";
}
.icon-svg852:before {
	content: "\e607";
}
.icon-svg922:before {
	content: "\e608";
}
.icon-svg1022:before {
	content: "\e609";
}
.icon-svg1122:before {
	content: "\e60a";
}
.icon-line_1:before {
	content: "\e638";
}
.icon-svg1322:before {
	content: "\e60c";
}
.icon-line_2:before {
	content: "\e6ae";
}
.icon-svg1422:before {
	content: "\e60d";
}
.icon-svg1522:before {
	content: "\e60e";
}
.icon-svg1622:before {
	content: "\e60f";
}
.icon-svg1722:before {
	content: "\e610";
}
